/node_modules
anime*.json
pg-data
mongodb_data_container

.env
*.pyc
*log.txt
*dump.sql
*dumpall.sql

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions